<div class="container">
  <%= render partial: "layouts/errors", locals: {item: @user } %>
  <div class="row">
    <div class="col-md-3">
      <%= render partial: "layouts/sidebar", locals: { user: @user, book: @book} %>
    </div>

    <div class="col-md-8 offset-md-1">
      <%= render partial: "users/user_index", locals: { users: @users } %>
    </div>

  </div>
</div>