<div class="container px-5 px-sm-0">
  <%= render partial: "layouts/errors", locals: {item: @book,} %>
  <div class="row">
    <!--サイドバーパーシャルを参照　インスタンス変数をローカル変数に変換-->
    <div class="col-3">
      <%= render partial: "layouts/sidebar", locals: { user: @user, book: @book} %>
    </div>


    <div class="col-8 offset-1">
      <%= render partial: "books/books_index", locals: { user: @user, books: @books} %>
    </div>

  </div>
</div>