<div class="container px-5 px-sm-0">
  <div class="row">
    <!--サイドバーパーシャルを参照　インスタンス変数をローカル変数に変換-->
    <%= render partial: "users/sidebar", locals: { user: @user, book: @book} %>

    <div class="col-8 offset-1">
      <h2>Books</h2>
      <table class="table">
        <thead>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
        </thead>
        <tbody>
          <% @books.each do |user_book| %>
            <tr>
              <td><%= image_tag @user.get_profile_image(80, 80) %></td>
              <td><%= link_to user_book.title, book_path(user_book) %></td>
              <td><%= user_book.opinion %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>